version: '3.8'

services:
  springboot-app:
    image: jalilnawawi/library-transactions-api:latest
    container_name: library-transactions-api
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: unless-stopped